*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
nav{
    border:2px solid;
}
a{
   text-decoration:none ;
   background-color:burlywood;
   margin : 50px;
}
@media screen and (width < 500px){
    nav{
        display:none ;
    }
}